* {
	box-sizing: border-box;
}
body {
	margin: 0;
}
.things {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	background-color: #1e0555;
}

#quoteDisplay {
	font-family: "Poppins", sans-serif;
	font-weight: bold;
}

.container {
	margin-top: 50px;
	background-color: #f0db4f;
	padding: 1rem;
	border-radius: 0.5rem;
	width: 700px;
	max-width: 90%;
}
/* .time {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
} */
.timer {
	text-align: center;
	font-size: 50px;
	color: #f0db4f;
	font-weight: bold;
	align-self: center;
}
.timetext {
	margin-top: 20px;
	font-size: 20px;
	color: #f0db4f;
	font-weight: bold;
	align-self: center;
}

.quote-display {
	margin-bottom: 1rem;
	margin-left: calc(1rem + 2px);
	margin-right: calc(1rem + 2px);
}

.quote-input {
	background-color: transparent;
	border: 2px solid #a1922e;
	outline: none;
	width: 100%;
	height: 8rem;
	margin: auto;
	resize: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.5rem;
}

.quote-input:focus {
	outline: none;
	background-color: transparent;
	border: 4px solid #1e0555;
	outline: none !important
	;
	width: 100%;
	height: 8rem;
	margin: auto;
	resize: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.5rem;
}

.correct {
	color: green;
}

.incorrect {
	color: red;
	text-decoration: underline;
}
.horizontal {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.btn {
	padding: 30px;
	margin-top: 30px;
	color: #fff;
	border: 3px solid #f0db4f;

	background-image: -webkit-linear-gradient(
		30deg,
		#f0db4f 50%,
		transparent 50%
	);
	background-image: linear-gradient(30deg, #f0db4f 50%, transparent 50%);
	background-size: 500px;
	background-repeat: no-repeat;
	background-position: 0%;
	-webkit-transition: background 300ms ease-in-out;
	transition: background 300ms ease-in-out;
	color: #1e0555;
	border-radius: 10px;
	font-weight: bold;
	font-size: 20px;
}
.btn:hover {
	background-position: 100%;
	color: #1e0555;
	font-weight: bold;
	font-size: 30px;
}
#scrh1 {
	/* color: rgb(236, 215, 215);
	margin-left: 60px;
	font-family: "Poppins", sans-serif; */
	text-align: center;
	font-size: 50px;
	color: #95a7e7;
	font-weight: bold;
	align-self: center;
}
.timebtn {
	padding: 15px;
	border: none;
	background-color: rgb(207, 222, 137);
	font-family: "Poppins", sans-serif;
	font-weight: bold;
	size: 20px;
}

.timebtn:hover {
	background-color: rgba(84, 82, 82, 0.493);
}
.instruction {
	font-size: 20px;
	font-weight: bold;
	font-family: "Poppins", sans-serif;
	color: rgb(207, 222, 137);
}
.choosetime {
	border-color: black;

	border-radius: 10px;
	box-sizing: border-box;
	margin: 10px;
}
.times {
	padding-bottom: 20px;
}
.choosetime {
	width: 50%;
	align-self: center;
	margin-right: 50px;
}
.timeandscore {
	display: flex;
	justify-content: center;
	align-items: center;
}
